* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Arial;
}
.header{
    text-align: center;
    padding: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    width: 25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px){
    .column{
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}